/**
	---Contact Page---
*/
.contact-slider{
	padding-left: 40px;
	padding-right: 40px;
}
.contact-slider .contact-slider-content{
	color: #fff;
}
.contact-slider .contact-slider-content h2{
	font-size: 25px;
	font-weight: bold;
	margin: 33px 0 33px 0;
}
.contact-slider .contact-slider-content p{
	font-size: 20px;
	font-style: italic;
	margin: 33px 0 33px 0;
}

/**
	----Infomation Contact----
*/
.contact-wrapper{
	padding-right: 40px;
	padding-left: 40px;
	background-color: #fff;
}
.contact-wrapper .contact-form{
	width: 80%;
	margin-top: 30px;
	margin-bottom: 64px;
}
.contact-wrapper .contact-form .contact-input{
	box-shadow: inset 0 10px 25px #f1f1f1;
}
.contact-wrapper .contact-form .input-submit{
	padding: 10px 20px;
	border-radius: 5px;
}
.contact-wrapper .contact-form textarea{
	height: 162px;
	overflow-y: visible;
}

.contact-info{
	box-shadow: inset 10px 0 20px #f1f1f1;
	padding-top: 40px;
	min-height: 565px;
}
.contact-info .contact-info-item h3{
	padding: 10px 25px;
	font-size: 15px;
	font-weight: bold;
	background: url(../images/bg-contact.png);
	background-repeat: repeat-y;
}
.contact-info .contact-info-item p{
	margin: 15px 0 25px 25px;
	line-height: 20px;
}
.contact-info .contact-info-item img{
	margin-right: 15px;
}

/**
	--------Responsive---------
*/

/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    /**
    	---------Contacts------------
    */
}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/**
    	---------Contacts------------
    */
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/**
    	---------Contacts------------
    */

	.contact-wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-slider .contact-slider-content{
		text-align: center;
		padding: 30px 0;
	}
	.contact-slider .contact-slider-content h2{
		margin-bottom: 0;
	}
	.contact-wrapper .contact-form{
		width: 100%;
	}
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
	/**
    	---------Contacts------------
    */

	.contact-wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-slider .contact-slider-content{
		text-align: center;
		padding: 40px 0;
	}
	.contact-slider .contact-slider-content p{
		padding-top: 20px;
	}
	.contact-wrapper .contact-form{
		width: 100%;
	}
}
