/**
	------Common Styles------
*/
body{
	color: #4f4f4f;
	font-size: 12px;
	font-family: Arial;
	background-color: #0e0e0e;
	margin: 0;
	padding: 0;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	overflow-x: hidden;
}

*{
	box-sizing: border-box
}
a{
	color: #0f4db6;
}
.business-container{	
	max-width: 960px;
	margin:42px auto;
}

/**
	---Navigation---
*/

.business-navbar{
	background-color: #fff;
	margin-bottom: 0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding-left: 40px;
}
.business-navbar .navbar-brand{
	padding:0;
}
.business-navbar .business-logo{
	margin: 30px 0;
}
.business-navbar .business-collapse{
	margin-top: 50px;
}
.business-navbar .business-collapse ul li a{
	padding:8px 15px;
	margin-right: 15px;
	color: #808080;
	font-weight: bold;
	text-transform: uppercase;
}

.business-navbar .business-collapse ul li a.active,
.business-navbar .business-collapse ul li a:hover{
	border-radius:3px;
	background-image: url("../images/menu-bg.jpg");
	color: #fff;
	border:1px solid #00224b;
}
/**
	----Slider----
*/
.business-bg-slider{
	width: 100%;
	background-image: url("../images/business-home.png");
	background-repeat: no-repeat;
	max-height: 336px;
}
.business-bg-slider .slider-content{
	margin:90px 0px 60px 40px;
	color: #fff;
	font-family: Trebuchet MS;
}
.business-bg-slider .slider-content p{
	font-size: 29px;
	margin-bottom: 37px;
	line-height: 1.35em;
	text-shadow: 3px 3px 2px rgba(51,102,204,1);
}
.business-bg-slider .slider-content span{
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}
.business-bg-slider .slider-content a{
	color: #cc0000;
	text-transform: uppercase;
	background-image:url(../images/btn-bg.jpg);
	background-repeat: repeat;
	font-size: 20px;
	padding: 15px 20px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 7px;
}
.business-bg-slider .slider-content i{
	color: #666666;
	padding-left: 15px;
}

.business-bg-slider img{
	border: 1px solid #fff;
}
.business-bg-slider .business-bg-img p{
	font-size:20px; 
	font-weight:bold; 
	padding-top:15px; 
	padding-right:15px; 
	color:#fff
}
/**
	-----Business Contact----
*/
.business-contact {
	width: 100%;
	background-color: #ededed;
	border-bottom: 1px #cecece solid;
	padding:35px 40px 25px 40px;
}
.business-contact .business-contact-content span{
	font-weight: bold;
	font-size: 15px;
}

/**
	-----Business Working----
*/
.business-working{
	background-color: #fff;
	padding: 44px 40px 35px 40px;
	box-shadow: 0px 8px 6px -8px #cccccc;
}
.business-working .business-working-content h3{
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 25px;
}
.business-working .business-working-content img{
	margin-bottom: 25px;
}
.art-hr {
	border:0.3px dotted #838383;
	margin:10px 0 10px 0;
}
.business-working .business-working-content i{
	padding-right: 12px;
}

/**
	-----Footer-----
*/
footer{
	background-color: #ededed;
	padding: 25px 40px 25px 40px;
}
footer h3{
	padding-top:30px;
	font-size: 15px;
	font-weight: bold;
}

footer .footer-content{
	padding-bottom:10px;
	padding-top:30px;
}
footer .footer-link a{
	color:#4f4f4f;
	text-decoration: none;
	cursor: pointer;
}
footer img{
	padding-right: 20px; 
}
footer .last-footer{
	padding-top: 25px;
}

