/**
	----Slider----
*/

.business-bg-slider .slider-content{
	margin:90px 0px 60px 40px;
	color: #fff;
	font-family: Trebuchet MS;
}
.business-bg-slider .slider-content p{
	font-size: 29px;
	margin-bottom: 37px;
	line-height: 1.35em;
	text-shadow: 3px 3px 2px rgba(51,102,204,1);
}
.business-bg-slider .slider-content span{
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}
.business-bg-slider .slider-content a{
	color: #cc0000;
	text-transform: uppercase;
	background-image:url(../images/btn-bg.jpg);
	background-repeat: repeat;
	font-size: 20px;
	padding: 15px 20px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 7px;
}
.business-bg-slider .slider-content i{
	color: #666666;
	padding-left: 15px;
}

.business-bg-slider img{
	border: 1px solid #fff;
}
.business-bg-slider .business-bg-img p{
	font-size:20px; 
	font-weight:bold; 
	padding-top:15px; 
	padding-right:15px; 
	color:#fff
}
/**
	-----Business Contact----
*/
.business-contact {
	width: 100%;
	background-color: #ededed;
	border-bottom: 1px #cecece solid;
	padding:35px 40px 25px 40px;
}
.business-contact .business-contact-content span{
	font-weight: bold;
	font-size: 15px;
}

/**
	-----Business Working----
*/
.business-working{
	background-color: #fff;
	padding: 44px 40px 35px 40px;
}
.business-working .business-working-content h3{
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 25px;
}
.business-working .business-working-content img{
	margin-bottom: 25px;
}
.art-hr {
	border:0.3px dotted #838383;
	margin:10px 0 10px 0;
}
.business-working .business-working-content i{
	padding-right: 12px;
}

/**
	-----Responsive-----
*/


/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    /***
	 * Index
	 */
}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /***
	 * Index
	 */

	.business-bg-slider .slider-content{
		margin-top: 50px;
	}
	.business-bg-img .theme-light .nivo-controlNav a {
		display: none;
	}
	.business-working .business-working-content img{
		width: 90%;
	}
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /***
	 * Index
	 */

    .business-bg-slider .slider-content{
		text-align: center;
		margin: 0 auto;
		padding: 50px 0;
	}
	.business-bg-slider .slider-content p{
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1.35em;
		text-shadow: 3px 3px 2px rgba(51,102,204,1);
	}
	.business-bg-slider .slider-content span{
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
	}
    .business-bg-slider .slider-content a{
		font-size: 18px;
		padding: 10px 15px;
	}
	.business-bg-slider .slider-wrapper{
		display: none;
	}
	.business-bg-slider .business-bg-img{
		height: 0;
	}
	.business-contact .business-contact-content{
		margin: 0 auto;
	}
	.business-contact, .business-working{
		padding-left: 15px;
		padding-right: 15px;
	}

	.business-working .business-working-content
	{
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
	.business-working .business-working-content img{
		margin:20px auto;
		width: 60%;
	}
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
    /***
	 * Index
	 */

	.business-bg-slider .slider-content{
		text-align: center;
		margin: 0 auto;
		padding: 50px 0;
	}
	.business-bg-slider .slider-content p{
		font-size: 18px;
		margin-bottom: 30px;
		line-height: 1.35em;
		text-shadow: 3px 3px 2px rgba(51,102,204,1);
	}
	.business-bg-slider .slider-content span{
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
    .business-bg-slider .slider-content a{
		font-size:13px;
		padding: 10px 15px;
	}
	.slider-wrapper{
		display: none;
	}
	.business-bg-img{
		height: 0;
	}
	.business-contact, .business-working, footer{
		padding-left: 15px;
		padding-right: 15px;
	}
	.business-working .business-working-content, 
	.business-working .business-working-content img{
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
}
