/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Nov 1, 2013, 2:54:26 PM
    Author     : Archie
*/


/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    /***
	 * Index
	 */
	.business-container{
		width:90%;
		margin:0 auto;
	}
	/***
    	* Services
    */
    .services-product .services-product-content h3, .benefit h3{
    	font-size: 20px;
    }
    .services-product .services-product-content span{
		font-size: 12px;
		color: #575757;
	}

	/***
    	* Portfolio
    */
}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /***
	 * Index
	 */
	.business-container{
		width: 93%;
		margin:0 auto;
	}

	.business-bg-img .theme-light .nivo-controlNav a {
		display: none;
	}

	.business-bg-slider .slider-content{
		margin-top: 50px;
	}

	.business-working .business-working-content img{
		width: 90%;
	}
    
    /***
    	* Services
    */
    .services-slider .services-slider-content p{
		padding-left: 0 !important;
	}

    .services-product .services-product-content h3, .benefit h3 {
    	font-size: 15px;
    }
    .services-product .services-product-content span{
		font-size: 11px;
		color: #575757;
	}
	.services-product .services-product-content .btn-right{
		float: left;
		margin-top:10px;
	}

	/***
    	* Portfolio
    */
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /***
	 * Index
	 */

	#container{
		margin:0;
	}
	.business-container{
		width: 100%;
		margin:0 auto;
	}
	.business-navbar{
		padding-left: 15px;
	}
    .business-bg-slider .slider-content{
		margin: 40px 15px 40px 15px;
	}
	.business-bg-slider .slider-content p{
		font-size: 22px;
		margin-bottom: 30px;
		line-height: 1.35em;
		text-shadow: 3px 3px 2px rgba(51,102,204,1);
	}
	.business-bg-slider .slider-content span{
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
	}
    .business-bg-slider .slider-content a{
		font-size: 18px;
		padding: 10px 15px;
	}
	.slider-wrapper{
		display: none;
	}
	.business-bg-img{
		height: 0;
	}
	.business-contact, .business-working, footer{
		padding-left: 15px;
		padding-right: 15px;
	}

	/**
   		----Services----
    */
    .services-slider{
   		padding: 0 15px 0 15px;
    }
    .services-slider .services-slider-content p{
		padding-left: 0 !important;
		margin: 0 0 20px 0;
	}
	.services-product, .benefit{
		padding-left: 15px;
		padding-right: 15px;
	}

	/**
    	---------Portfolio------------
    */	
	.portfolio-product-wrapper,
	.business-pagination, 
	.portfolio-slider .portfolio-slider-content{
		padding-left: 15px;
		padding-right: 15px;
	}

	/**
    	---------Contacts------------
    */

	.contact-wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}

}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
    /***
	 * Index
	 */

	#container{
		margin:0;
	}	
	.business-container{
		width: 100%;
		margin:0 auto;
	}
	.business-navbar{
		padding-left: 15px;
	}

	.business-bg-slider .slider-content{
		margin: 40px 15px 40px 15px;
	}
	.business-bg-slider .slider-content p{
		font-size: 18px;
		margin-bottom: 30px;
		line-height: 1.35em;
		text-shadow: 3px 3px 2px rgba(51,102,204,1);
	}
	.business-bg-slider .slider-content span{
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
    .business-bg-slider .slider-content a{
		font-size:13px;
		padding: 10px 15px;
	}
	.slider-wrapper{
		display: none;
	}
	.business-bg-img{
		height: 0;
	}
	.business-contact, .business-working, footer{
		padding-left: 15px;
		padding-right: 15px;
	}

   	/**
   		----Services----
   	*/
   	.services-slider{
   		padding: 0 15px 0 15px;
   	}
   	.services-slider .services-slider-content p{
		padding-left: 0 !important;
		margin: 0 0 20px 0;
	}
	.services-product, .benefit{
		padding-left: 15px;
		padding-right: 15px;
	}

	/**
    	---------Portfolio------------
    */	
	.portfolio-product-wrapper,
	.business-pagination, 
	.portfolio-slider .portfolio-slider-content{
		padding-left: 15px;
		padding-right: 15px;
	}

	/**
    	---------Contacts------------
    */

	.contact-wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-slider .contact-slider-content p, 
	.contact-slider .contact-slider-content h2{
		margin:0;
	}
	.contact-wrapper .contact-form{
		width: 100%;
	}
}
