/**
	-----------Services Page----------
*/

.services-slider{
	color: #fff;
	padding: 0 40px 0 40px;
}
.services-slider .services-slider-content h2{
	font-size: 25px;
	font-weight: bold;
	margin: 34px 0 34px 0;
}
.services-slider .services-slider-content p{
	font-size: 20px;
	font-style: italic;
	margin: 32px 0 32px 0;
}

/**
	----Services Products-----
*/
.services-product{
	padding:30px 40px 40px 40px;
	background-color: #fff;
}
.services-product .services-product-content h3{
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 20px;
}
.services-product .services-product-content p{
	padding: 20px 0 20px 0;
}
.services-product .services-product-content span{
	font-size: 15px;
	color: #575757;
}
.shadow{
	box-shadow: inset 0px 4px 10px #ccc;
}

.services-product2 {
	padding-right: 30px !important;
	padding-top: 10px;
}
.services-product .services-product-content .btn-right{
	float: right;
}

/**
	----Benefits-----
*/
.benefit{
	padding: 30px 40px 52px 40px;
	background-color: #fff;
}

.benefit h3 {
	font-size: 25px;
	font-weight: bold;
}
.benefit .benefit-list{
	padding:40px 0 40px 0;
}
.benefit .benefit-list img{
	float:left;
	vertical-align: middle;
	width: 6%;
	padding-top: 10px;
}
.benefit .benefit-list p{
	float: left;
	width: 90%;
	padding-left: 20px;
}


/**
	-------Responsive------
*/

/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {  
	/***
    	* Services
    */
    .services-product .services-product-content h3, .benefit h3{
    	font-size: 20px;
    }
    .services-product .services-product-content span{
		font-size: 12px;
		color: #575757;
	}
}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /***
    	* Services
    */
    .services-slider .services-slider-content p{
		padding-left: 0 !important;
	}

    .services-product .services-product-content h3, .benefit h3 {
    	font-size: 15px;
    }
    .services-product .services-product-content span{
		font-size: 11px;
		color: #575757;
	}
	.services-product .services-product-content .btn-right{
		float: left;
	}
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/**
   		----Services----
    */
    .services-slider{
   		padding: 0 15px 0 15px;
    }
    .services-slider .services-slider-content{
		text-align: center;
		margin: 0 auto;
		padding: 50px auto;
    }
    .services-slider .services-slider-content h2{
		margin: 34px 0 0 0;
	}
	.services-product, .benefit{
		padding-left: 15px;
		padding-right: 15px;
	}
	.services-product .services-product-content{
		text-align: center;
		margin: 20px auto;
	}
	.services-product .services-product-content img{
		width:70%;
		margin: 20px auto;
	}
	.services-product .services-product-content .services-btn{
		width: 80%;
	}
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
   	/**
   		----Services----
   	*/
   	.services-slider .services-slider-content{
		text-align: center;
    }
    .services-slider .services-slider-content h2{
		margin: 34px 0 0 0;
	}
	.services-product, .benefit{
		padding-left: 15px;
		padding-right: 15px;
	}
	.services-product .services-product-content{
		text-align: center;
		margin: 20px auto;
	}
	.services-product .services-product-content img{
		margin: 20px auto;
	}
	.services-product .services-product-content .services-btn{
		width: 90%;
	}
}
