/**
-------Common Style-----
*/
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoCondensed;
	src: url(../fonts/Roboto-Condensed.ttf);
}
body {
	color: #aaa;
	font-size: 14px;
	background-color: #f5f5f5;
	line-height: 1.5;
	font-family: Roboto;
	overflow-x: hidden;
}
::selection {
    background-color: #ff6b53;
    color: #fff;
}
a {
	text-decoration: none !important;
}
h1, h2, h3, h4, h5 {
	font-family: RobotoBold;
	color: #444;
}
.title, .sub-title {
	font-family: RobotoBold;
	text-transform: uppercase;
}
.title{
	font-size: 56px;
	color: #444;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 0;
}
.sub-title {
	font-size: 24px;
}
.hr-title{
	border-bottom: 6px double #ff6b53;
	width: 100px;
	margin-top: 5px auto;
	padding: 0;
}
.moesia-btn {
	padding: 10px 20px;
	background-color: #ff6b53;
	font-size: 16px;
	text-transform: uppercase;
	box-shadow: 0 5px 0 #C2503D;
	color: #fff;
	border-radius: 5px;
	margin: 0 auto;
	font-family: RobotoBold;
}
.moesia-btn:hover {
	color: #fff;
}
.white {
	color: #fff;
}
/**
	----------Header------------
*/
.header {
	width: 100%;
	min-height: 700px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.header>div:nth-of-type(1){
	background: url(../images/header.jpg) center bottom no-repeat fixed;
	background-size: cover;
	height: 700px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding-top: 100px;
}
.header .header-content {
	width: 100%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	z-index: 555;
}
.header-content .header-name {
	font-size: 80px;
	text-shadow: 0 0 5px #222;
	margin-bottom: 30px;
	line-height: 1.2;
	font-family: RobotoBold;
}
.header-content .header-slogan {
	font-size: 28px;
	color: #D8D8D8;
	text-shadow: 0 0 2px #222;
	margin-bottom: 30px;
}
/**
	---------Navigation--------
*/
.moesia-nav {
	z-index: 999;
	background: #222;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
	margin: 0;
	transition: all 0.5s;
}
#moesia-logo {
	padding: 40px 15px;
}
.moesia-nav .navbar-collapse ul li a {
	color: #fff;
	font-weight: 500;
	padding: 40px 10px !important;
	font-family: RobotoCondensed;
	text-transform: uppercase;
}
.moesia-nav .navbar-collapse ul li a:hover {
	color: #ff6b53;
}
.nav-fixed {
	top: 0;
	position: fixed;
	width: 100%;
	opacity: 0.9;
	padding: 0;
	z-index: 99999;
	height: 60px;
}
.nav-fixed .navbar-collapse ul li a {
    margin: 0 !important;
    padding: 20px !important;
}
.nav-fixed #moesia-logo {
	padding: 20px 15px;
}
/**
-------Footer-------
*/
footer {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background-color: #222; 
}
footer a {
	color: #aaa;
}
footer a:hover {
	color: #ff6b53;
}
.top-footer {
	padding: 50px 0;
}
.footer-title {
	border-bottom: 4px double #3A3A3A;
	padding-bottom: 15px;
	color: #e4e4e4;
	font-size: 24px;
}
.footer-content {
	padding-top: 10px;
}
.footer-content i {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 11px;
}
.footer-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-content li:before {
	content: "\f192";
	font-family: FontAwesome;
	top: -3px;
	margin-right: 10px;
	font-size: 11px;
	position: relative;
}
.info-name {
	margin: 0 8px;
	font-family: RobotoBold;
	color: #fff;
}
.bottom-footer {
	border-top: 1px solid #3A3A3A;
	padding: 30px 0;
}
.bottom-footer a:hover {
	text-decoration: underline !important;
	color: #fff;
}